.root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height));
}

.registration-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-width: 480px;
    height: min-content;
    background: #131316;
}
.registration-card__additional {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    width: 100%;
}
.registration-card__button {
    margin-bottom: 88px;
}
.registration-card__secondary-button {
    padding: 0;
}