.loader {
	display: flex;
	gap: 20px;
    align-items: center;
}
.loader__message, .loader__message {
    display: flex;
	text-align: center;
    align-items: center;
    padding: 2px;
}
.loader__spinner svg {
	fill: var(--colors-interface-accent);
}