.root {
	background-color: #1C1C21;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 584px;
}
.ingredient-list {
	list-style-type: none;
	list-style: none;
}

.ingredient {
	z-index: 6;
	list-style-type: none;
	list-style: none;
	background-color: #131316;
}