.feed-page {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	gap: 60px;
	max-width: 1240px;
	padding-top: 40px;
}
.feed, .stats {
	max-width: 48.5%;
	width: 100%;
	flex-shrink: 1;
	max-height: calc(100vh - 390px);
}
.feed {
	max-height: calc(100vh - 138px);
	overflow-y: auto;
}
.feed::-webkit-scrollbar {
	width: 8px;
}
.feed::-webkit-scrollbar-track {
	background: var(--background-alt);
	width: 8px;
}
.feed::-webkit-scrollbar-thumb {
	background: gray;
	width: 8px;
}
.feed__container {
	display: flex;
	align-items: flex-start;
	width: 100%;
	gap: 60px;
}
.feed__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	padding-right: 8px;
	gap: 16px;
}

.feed__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 46.77%;
	gap: 60px;
}
.feed__info_status {
	display: flex;
	align-items: flex-start;
	width: 100%;
	gap: 36px;
}
.stats {
	display: flex;
	flex-direction: column;
	gap: 36px;
}
.stats__main {
	display: flex;
	gap: 36px;
	min-width: 100%;
}
.stats__ready, .stats__in-work {
	width: calc(50% - 18px);
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: auto;
}
.stats__ready::-webkit-scrollbar {
	height: 8px;
}
.stats__ready::-webkit-scrollbar-track {
	background: var(--background-alt);
	height: 8px;
}
.stats__ready::-webkit-scrollbar-thumb {
	background: gray;
	height: 8px;
}
.stats__ready span, .stats__in-work span {
	display: block;
	width: 100%;
}
.stats__ready span {
	color: #00CCCC;
}
.huge-large {
	font-size: 144px;
	line-height: 144px;
	text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
.orders-columns__list {
	width: min-content;
	display: flex;

	gap: 20px;
}
.order-column {
	display: flex;
	flex-direction: column;
	gap: 8px;
}