.ingredient-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 520px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.ingredient-details__common-info {
	max-width: 150px;
}
.ingredient-details__section-info {
	display: flex;
	justify-content: center;
	column-gap: 20px;
}
.ingredient-details__image {
	max-width: 480px;
	max-height: 240px;
	width: 100%;
	object-fit: cover;
}
.ingredient-element {
	display: inline-block;
}